.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  // overflow: hidden;
}

.text-zone {
  background: white;
  position: absolute;
  left: 10% !important;
  top: 60% !important;
  transform: translateY(-50%);
  vertical-align: middle;
  display: table-cell;
  max-height: 92%;
  background: #022c43 !important;
  font-size: 1.5em;
}
.text-zone-previous-teams {
  background: white;
  position: absolute;
  left: 10% !important;
  top: 45% !important;
  transform: translateY(-50%);
  vertical-align: middle;
  display: table-cell;
  max-height: 92%;
  background: #022c43 !important;
  font-size: 1.5em;
}

.heading-zone {
  margin-bottom: 12px;

}

.css-rtrcn9-MuiTablePagination-root {
  /* overflow: auto; */
  margin-right: 5em;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
}

.css-1r5v9hu-MuiDataGrid-root {
  color: white !important;
}

.css-r11z79-MuiDataGrid-root {
  height: 376px !important;
  font-size: 1.2rem !important;
  color: white !important;
  width: 143ch !important;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }

  .face1 {
    transform: translateZ(100px);
    color: #dd0031;
  }

  .face2 {
    transform: rotateY(90deg) translateZ(100px);
    color: #f06529;
  }

  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #28a4d9;
  }

  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    color: #5ed4f4;
  }

  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #efd81d;
  }

  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #ec4d28;
  }
}

@keyframes spincube {

  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  16% {
    transform: rotateY(-90deg);
  }

  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }

  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }

  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }

  83% {
    transform: rotateX(90deg);
  }
}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
  min-height: 57px !important;
  padding-right: 51px !important;
  color: white !important;
}

.css-1e11en7-MuiButtonBase-root-MuiButton-root {
  margin-bottom: 12px !important;
}

@media only screen and (min-width: 2000px) {
  .text-zone {
    width: 150vh;
  }

}

// @media only screen and (max-width: 2000px){
//   .text-zone{
//     width: 71% !important;
//   }

// }


.MuiDataGrid-root {
  font-size: 1.5rem !important;
}

// .teammembers{
//   text-align: center;
// }
// .h2{
//   
// }
.members {
  left: 25% !important;

}

// .MuiSvgIcon-root{
//   color:yellow !important;}
// .MuiDataGrid-iconButtonContainer{

// }
.MuiDataGrid-columnHeaders {
  color: white !important;
}

// .css-f3jnds-MuiDataGrid-columnHeaders{
//   color:white !important;

// }
// .MuiDataGrid-menuIcon{
//   color:red !important;

// }
// .MuiButtonBase-root{

//   color:red !important;

// } 
// .MuiIconButton-root{
//   color:red !important;}
.datatableButtons {
  color: yellow !important;
}

.MuiSvgIcon-fontSizeSmall {
  color: white !important;
}

// .MuiButtonBase-root{
//   color: yellow;
// }
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: yellow !important;
}

h2{
  margin-bottom: 10px !important;
}
