.team-divider {
    margin-top: 3%;
}

h2 {
    font-size: 43npm install redux react-reduxpx;
    font-family: "Coolvetica";
    color: #ffd700 !important;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;
}
h3{
    color: white !important;
    font-size: 23px;
}
h4 {
    color: white
}
p{
    margin: 5px !important;
}